/* laptop xl or desktop */
@media screen and (max-width: 1440px) {

}

/* laptop lg */
@media screen and (max-width: 1200px) {

}

/* laptop lg */
@media screen and (max-width: 992px) {
	div#movieModal {
		div.modal-dialog {
			div.modal-content {
				div.modal-header {
					div.modal-header-wrapper {
						h5#movieModalTitle {
							font-size: 2rem;
							letter-spacing: 0.1rem;
						}
						p#movieModalDesc {
							font-size: 1.25rem;
							letter-spacing: 0.1rem;
						}
					}
				}
				div.modal-body {
					div.modalInnerWrap {
						display: flex;
						flex-direction: column;
						align-items: center;
						font-size: 1rem;
						img#movieModalImg {
							@include wh(normal, 185px, 294px);
							border-radius: 5px;
							margin-top: 1rem;
							margin-bottom: 2rem;
						}
						div.innerContent {
							@include wh(normal, 100%, 100%);
							flex:3;
							margin-left: 1rem;
							table.table {
							}
						}
					}
				}
			}
		}
	}
}

/* tablet */
@media screen and (max-width: 768px) {

}

/* mobile lg */
@media screen and (max-width: 576px) {
	div#movieModal {
		div.modal-dialog {
			div.modal-content {
				div.modal-header {
					div.modal-header-wrapper {
						h5#movieModalTitle {
							font-size: 2rem;
							letter-spacing: 0.1rem;
						}
						p#movieModalDesc {
							font-size: 1.25rem;
							letter-spacing: 0.1rem;
						}
					}
				}
			}
		}
	}
}

/* mobile lg */
@media screen and (max-width: 425px) {
	div#movieModal {
		div.modal-dialog {
			div.modal-content {
				div.modal-header {
					div.modal-header-wrapper {
						h5#movieModalTitle {
							font-size: 1.5rem;
							letter-spacing: 0.1rem;
						}
						p#movieModalDesc {
							font-size: 1rem;
							letter-spacing: 0.1rem;
						}
					}
				}
			}
		}
	}
}

/* mobile md */
@media screen and (max-width: 375px) {
	div#movieModal {
		div.modal-dialog {
			div.modal-content {
				div.modal-header {
					div.modal-header-wrapper {
						h5#movieModalTitle {
							font-size: 1.25rem;
							letter-spacing: 0.05rem;
						}
						p#movieModalDesc {
							font-size: 0.85rem;
							letter-spacing: 0.05rem;
						}
					}
				}
			}
		}
	}
}

/* mobile sm */
@media screen and (max-width: 320px) {
	div#movieModal {
		div.modal-dialog {
			div.modal-content {
				div.modal-header {
					div.modal-header-wrapper {
						h5#movieModalTitle {
							font-size: 1.15rem;
							letter-spacing: 0.025rem;
						}
						p#movieModalDesc {
							font-size: 0.75rem;
							letter-spacing: 0.025rem;
						}
					}
				}
			}
		}
	}
}
