section#search-result {
	margin-top: 0.5rem;
	@include wh(normal, 100vw, 100%);
	position: absolute;
	z-index: 1;
	div.container {
		div.wrap {
			border-radius: 5px;
			ul#resultContent {
				padding: 0;
				margin: 0;
				li.resultTitle {
					@include wh(normal, 100%, 100%);
					list-style: none;
					background: #FCF9F9;
					padding: 0.5rem;
					color: #333;
					border: 0.5px solid #333;
				}
			}
		}
	}
}
