$headerWidth-xl: 100vw;
$headerHeight-xl: 85vh;

$headerWidth-lg: 100vw;
$headerHeight-lg: 75vh;

$headerWidth-md: 100vw;
$headerHeight-md: 65vh;

$headerWidth-tablet: 100vw;
$headerHeight-tablet: 45vh;

$headerWidth-sm: 100vw;
$headerHeight-sm: 35vh;

$headerWidth-xs: 100vw;
$headerHeight-xs: 25vh;
